@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Front_Layout.cshtml";
}


   




    <div class="gdlr-core-pbf-wrapper " style="margin: 30px 0px 0px 0px;">
        <div class="gdlr-core-pbf-background-wrap">
            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-repeat: no-repeat; background-position: center;" data-parallax-speed="0.04"></div>
        </div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 27px;">
                        <div class="gdlr-core-title-item-title-wrap ">
                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px; font-weight: 600; letter-spacing: 0px; text-transform: none; color: #232323;">Services We Provide<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                        </div>
                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 14px; font-style: normal; letter-spacing: 2px; text-transform: uppercase; margin-top: 5px;">Covered in these areas</span>
                    </div>
                </div>
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 25px;">
                        <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 54px;">
                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #254099; border-bottom-width: 4px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px; padding: 0px 0px 160px 0px;">
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-hover-box-item gdlr-core-item-pdb clearfix  gdlr-core-left-align" style="padding-bottom: 20px;">
                        <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                            <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07);">
                                <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image">
                                    <img src="http://premiumlayers.net/demo/html/financity/demo2/upload/hp2-service-1.jpg" alt="" width="700" height="423"></div>
                                <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                    <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px; text-transform: none; color: #254099;">Exports</h3>
                                    <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                        <p>We are one of India’s leading exporters of PP woven fabric and bags. We are currently exporting our products across Europe, Asia, Africa and Americas.</p>
                                    </div>
                                </div>
                                <a class="gdlr-core-hover-box-link" href="#"></a>
                            </div>
                        </div>
                        <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                            <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07);">
                                <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image">
                                    <img src="http://premiumlayers.net/demo/html/financity/demo2/upload/hp2-service-2.jpg" alt="" width="700" height="423"></div>
                                <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                    <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px; text-transform: none; color: #254099;">CAREERS
                                    </h3>
                                    <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                        <p>SAH Polymer's in-house capabilities in technology development are complemented by tie-ups with world leaders.

</p>
                                    </div>
                                </div>
                                <a class="gdlr-core-hover-box-link" href="#"></a>
                            </div>
                        </div>
                        <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                            <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07);">
                                <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image">
                                    <img src="http://premiumlayers.net/demo/html/financity/demo2/upload/hp2-service-3.jpg" alt="" width="700" height="423"></div>
                                <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                    <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px; text-transform: none; color: #254099;">CUSTOMERS</h3>
                                    <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                        <p>We strive to ensure that our customers are provided with the best quality product at the best price along with timely delivery.</p>
                                    </div>
                                </div>
                                <a class="gdlr-core-hover-box-link" href="#"></a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


